<div class="jumbotron">
  <h1>Bio</h1>
</div>
<p>I was born in San Diego</p>
<p>I grew up in Los Angeles</p>
<p>I've lived in nearly every major city on the West Coast</p>
<p>Things are pretty good!</p>