<h1>Hello <%= @recipient %></h1>
<p>I would just like to take a brief second to say thanks for looking at this website. It was created by me, <%= @sender %></p>
<p>If on your travels you ever say to yourself, 'gee, <%= @recipient %>, you sure are good looking...</p>
<p>Well, you'd be right!</p>
<p>-<%= @sender %></p>
