
<h1>Pictures</h1>
<ul>
  <li><img src='http://placehold.it/350x150' alt='A photo of a canyon.'/></li>
  <li><img src='http://placehold.it/350x150' alt='A photo of a bridge.'/></li>
  <li><img src='http://placehold.it/350x150' alt='A photo of a mountain.'/></li>
</ul>
